<button class="logout-button" (click)="logout()">Deconnexion</button>

<div class="document-organizer">
  <p>Les Dossier de : {{username}}</p>

  <div>
    <div>
      <label for="folderName">Nom de dossier:</label>
      <input type="text" id="folderName" [(ngModel)]="newFolderName" required>
      <button class="add-to-folder-button" (click)="createFolder()">Creer dossier</button>
    </div>
    <table class="document-table">
      <thead>
        <tr>
          <th>Chemin</th>
          <th>Nom</th>
          <th>Extension</th>
          <th>Taille (en octets)</th>
          <th>Type</th>
          <th>proprietaire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of documents">
          <td>{{ doc.chemin }}</td>
          <td>{{ doc.nom }}</td>
          <td>{{ doc.extension }}</td>
          <td>{{ doc.taille }}</td>
          <td>{{ doc.type }}</td>
          <td>{{ doc.proprietaire }}</td>
          <td>
            <button (click)="openFolderListModal(doc)">Ajouter au dossier</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="folder-list-modal" *ngIf="showFolderListModal">
    <label for="folderSelect">Choisir dossier:</label>
    <select id="folderSelect" [(ngModel)]="selectedFolderId">
      <option *ngFor="let folder of folders" [value]="folder._id">{{ folder.name }}</option>
    </select>
    <button (click)="addToFolder()">Ajouter au dossier selectionner</button>
  </div>

  <div class="selected-folder-container">
    <h2 class="select-folder-label">Choisir Dossier</h2>
    <select class="select-folder-select" id="folderSelectToshow" [(ngModel)]="selectedFolderIdToshow" (change)="getDocumentsInSelectedFolder()">
      <option *ngFor="let folder of folders" [value]="folder._id">{{ folder.name }}</option>
    </select>

    <table class="selected-folder-table" *ngIf="selectedFolderToshow">
      <thead>
        <tr>
          <th>Chemin</th>
          <th>Nom</th>
          <th>Extension</th>
          <th>Taill (en octets)</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documentsInSelectedFolder">
          <td>{{ document.chemin }}</td>
          <td>{{ document.nom }}</td>
          <td>{{ document.extension }}</td>
          <td>{{ document.taille }}</td>
          <td>{{ document.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>