<!-- inscription.component.html -->

<div class="auth-container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h1>Inscription</h1>
    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" formControlName="phoneNumber" required pattern="^\+(?:[0-9] ?){6,14}[0-9]">

    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" formControlName="fullName" required>

    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required>

    <label for="role">Role:</label>
    <select id="role" formControlName="role" required>
      <option value="administrateur">Administrateur</option>
      <option value="standard" selected>Standard User</option>
    </select>

    <button type="submit">Register</button>
  </form>

  <p (click)="switchToLogin()">Switch to Login</p>
</div>
