<button class="logout-button" (click)="logout()">Deconnexion</button>
<br>
<br>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom d'utilisateur</th>
      <th>Nom complet</th>

      <th class="status-column">Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user._id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.fullName }}</td>
      <td class="status-column">
        <span class="status-indicator" [ngClass]="user.isActive ? 'active' : 'inactive'"></span>
        <span class="status-text" [textContent]="user.isActive ? 'Active' : 'Inactive'"></span>
      </td>
      <td>
        <button *ngIf="!user.isActive" (click)="activateUser(user._id)">Activer</button>
        <button *ngIf="user.isActive" (click)="deactivateUser(user._id)">Desactiver</button>
        <button (click)="deleteUser(user._id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>