<h1>Salut {{ welcomeusername }}!</h1>
<button type="button" (click)="managefolders()" class="manage-button">Gérer les dossiers</button>


<form [formGroup]="documentForm" (ngSubmit)="onSubmit()" class="document-form">
  <h2>{{ isEditMode ? 'Modifier Document' : 'Ajouter Document' }}</h2>

  <label for="chemin">Chemin du document:</label>
  <input type="text" id="chemin" formControlName="chemin" required>

  <label for="nom">Nom du document:</label>
  <input type="text" id="nom" formControlName="nom" required>

  <label for="extension">Extension:</label>
  <input type="text" id="extension" formControlName="extension" required>

  <label for="taille">Taille (en octets):</label>
  <input type="number" id="taille" formControlName="taille" required>

  <label for="type">Type:</label>
  <input type="text" id="type" formControlName="type" required>

  <button type="submit" class="modify-button">{{ isEditMode ? 'Modifier Document' : 'Ajouter Document' }}</button>

  <button *ngIf="isEditMode" type="button" (click)="deleteDocument()" class="delete-button">Supprimer Document</button>
</form>

<table class="document-table">
  <thead>
    <tr>
      <th>Chemin</th>
      <th>Nom</th>
      <th>Extension</th>
      <th>Taille (en octets)</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documents">
      <td>{{ doc.chemin }}</td>
      <td>{{ doc.nom }}</td>
      <td>{{ doc.extension }}</td>
      <td>{{ doc.taille }}</td>
      <td>{{ doc.type }}</td>
      <td>
        <button (click)="editDocument(doc)">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>